.calculator {
  font-family: 'Roboto';
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
  max-width: 1480px;
  margin: auto;
  display: flex; }
  .calculator__order-form {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    padding: 40px 0px; }
  .calculator__parameter-container {
    display: flex;
    padding: 10px 0 33px 0;
    flex-direction: column;
    width: 87%; }
  .calculator__label-text {
    text-align: center;
    position: absolute;
    bottom: 14px;
    color: #2ebaa7;
    font-size: 2.1em; }
    .calculator__label-text--white {
      color: white; }
  .calculator__datePicker-container {
    position: relative;
    z-index: 2; }
    .calculator__datePicker-container:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 10px;
      display: block;
      z-index: 1;
      background: url("../../images/arrow.png") 0 0 no-repeat;
      width: 21px;
      height: 9px; }
      .calculator__datePicker-container:after:hover {
        background-color: aqua; }
  .calculator__parameter {
    width: 43%;
    display: flex;
    font-size: 2.2em;
    border: 1px solid #d1d1d2; }
    .calculator__parameter:first-child {
      margin-right: 3em; }
  .calculator__parameter-text--center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    border-right: 2px solid #d1d1d2;
    border-left: 2px solid #d1d1d2; }
  .calculator__parameter-text {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 1.0em; }
  .calculator__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 5px 10px;
    width: 245px;
    box-sizing: content-box;
    background: url("../../images/arrow.png") 25% 75% no-repeat; }
  .calculator__header {
    font-family: 'Roboto Thin',sans-serif;
    font-size: 3.3em;
    letter-spacing: 5px;
    color: #092327; }
  .calculator__dataPicker {
    width: 245px; }
  .calculator__button-container {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 50px 0; }
  .calculator__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
    background: white;
    color: #2ebaa7;
    border: 1px solid #2ebaa7;
    box-sizing: border-box;
    width: 43%;
    font-size: 2.2em;
    font-family: Roboto;
    letter-spacing: 2px; }
    .calculator__button:first-child {
      margin-right: 3.1em; }
    .calculator__button--active {
      background: #2ebaa7;
      color: white; }
  .calculator__parameters-line {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 50px 0; }
  .calculator__list {
    list-style-type: none; }
  .calculator__list-element {
    font-family: Roboto;
    font-size: 2.4em;
    display: flex;
    margin-bottom: 30px; }
  .calculator__list-element:before {
    padding-right: 30px;
    content: "\2022";
    color: #2ebaa7; }
  .calculator__option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px; }
  .calculator__option {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2ebaa7;
    margin: 50px 0;
    width: 22em;
    height: 22em; }
  .calculator__option-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .calculator__option-body--active {
      background: #2ebaa7;
      color: white; }
  .calculator__image-container {
    margin-bottom: 25px; }
  .calculator__counter {
    display: flex;
    border: 1px solid #d1d1d2;
    position: absolute;
    bottom: -60px;
    width: 100%;
    font-size: 2em; }
    .calculator__counter-left {
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px; }
    .calculator__counter-right {
      display: flex;
      flex-grow: 2;
      justify-content: center;
      align-items: center;
      padding: 10px; }
    .calculator__counter-middle {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-grow: 23;
      padding: 5px;
      border-right: 1px solid #d1d1d2;
      border-left: 1px solid #d1d1d2; }
  .calculator__hoover {
    font-size: 3.1em;
    padding-top: 40px;
    padding-bottom: 51px; }
  .calculator__hoover-input {
    display: none; }
  .calculator__address {
    display: flex;
    justify-content: space-between;
    padding: 42px 0px; }
  .calculator__input-container {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .calculator__address-container {
    display: flex;
    width: 43%;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 0 0; }
  .calculator__userInfo {
    display: flex;
    justify-content: space-between;
    padding: 42px 0px; }
  .calculator__userInfo-container {
    display: flex;
    width: 43%;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 30px 0 0; }
  .calculator__comment-container {
    display: flex; }
  .calculator .calculator__textArea {
    width: 94%;
    height: 7em;
    margin: 51px 0;
    resize: none; }
  .calculator__input--long {
    margin: 10px 0 20px;
    padding: 10px 10px;
    border-radius: 2px;
    border-color: #d1d1d2;
    box-sizing: border-box;
    font-size: 2em;
    width: 100%; }
  .calculator__input--date {
    width: 100%;
    border: none;
    font-size: 1em;
    padding: 9px;
    cursor: pointer; }
  .calculator__input--short {
    width: 35%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 2px;
    border-color: #d1d1d2;
    font-size: 2em; }
  .calculator__order-info {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    padding: 30px 10px;
    border: 1px solid #2ebaa7;
    flex-shrink: 1;
    font-size: 2.5em;
    margin: 50px 30px 10px; }
    .calculator__order-info-header {
      color: #2ebaa7;
      padding: 10px 25px; }
    .calculator__order-info-text-blue {
      color: #2ebaa7; }
    .calculator__order-info-container {
      display: flex;
      width: 85%;
      padding: 20px;
      margin: 0px;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .calculator__order-info-container--vertical {
        flex-direction: column; }
    .calculator__order-info-list {
      padding-left: 0;
      list-style-type: none;
      margin: 5px 0; }
    .calculator__order-info-listItem {
      color: #2ebaa7; }
    .calculator__order-info-input {
      display: flex;
      justify-content: center;
      border: 1px solid #2ebaa7;
      align-items: center;
      text-align: center;
      font-size: 2.2rem; }
    .calculator__order-info-button-code {
      background-color: #2ebaa7;
      color: white;
      padding: 10px 30px;
      cursor: pointer; }
    .calculator__order-info-button-submit {
      border-radius: 2px;
      text-align: center;
      width: 90%;
      cursor: pointer;
      padding: 10px 0;
      margin: 15px 0;
      color: white;
      background-color: #2ebaa7;
      letter-spacing: 1px; }
    .calculator__order-info-agreement {
      width: 85%; }
  .calculator__agreement-link {
    color: #2ebaa7; }

.hide {
  display: none; }

.calculator__hoover-input:not(checked) + .calculator__hoover-label {
  position: relative;
  padding-left: 50px;
  line-height: 18px;
  margin: 0;
  cursor: pointer;
  display: block; }

.calculator__hoover-input:not(checked) + .calculator__hoover-label:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #fafafa;
  border: 2px solid #2ebaa7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.calculator__hoover-input:checked + .calculator__hoover-label:before {
  background: url("../../images/checkboxArrow.png") 50% 50% no-repeat; }

.calculator__hoover-input + .calculator__hoover-label:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: 0 0; }

input {
  border-style: solid;
  border-width: 1px; }

input, select, textarea {
  font-family: "Roboto";
  outline: none; }

input:disabled {
  background: white; }

.Select-arrow {
  background: url("../../images/arrow.png") 0 0 no-repeat;
  width: 21px;
  height: 9px; }

::-webkit-input-placeholder {
  color: #aaa; }

:-moz-placeholder {
  color: #aaa; }

::-moz-placeholder {
  color: #aaa; }

img {
  pointer-events: none; }

@media screen and (max-device-width: 1400px) {
  html {
    font-size: 55.5%; }
  .calculator__order-info-container {
    padding: 10px; } }

@media screen and (max-device-width: 1400px) {
  html {
    font-size: 45.5%; } }

@media screen and (max-device-width: 1100px) {
  html {
    font-size: 65.5%; }
  .calculator {
    flex-direction: column;
    align-content: center; }
  .calculator__order-info {
    width: 90%;
    margin: auto;
    margin-bottom: 40px; }
  .calculator__order-form {
    width: 90%;
    margin: auto;
    padding-bottom: 0; } }

@media screen and (max-device-width: 950px) {
  .calculator__option {
    width: 24em;
    height: 24em; } }

@media screen and (max-device-width: 800px) {
  .calculator__option {
    width: 20em;
    height: 20em; } }

@media screen and (max-device-width: 850px) {
  .calculator__parameters-line {
    flex-direction: column;
    padding: 10px 0; }
  .calculator__parameter:first-child {
    margin: 0; }
  .calculator__userInfo-container {
    margin: 0;
    width: 55%; }
  .calculator__parameter {
    width: 55%;
    margin: 30px 0; }
  .calculator__parameter-container {
    padding: 10px 0;
    width: 90%; }
  .calculator__button-container {
    flex-direction: column;
    padding: 15px 0; }
  .calculator__address {
    flex-direction: column;
    align-items: center;
    padding: 0; }
  .calculator__address-container {
    margin: 20px 0; }
  .calculator__button:first-child {
    margin: 0; }
  .calculator__button {
    width: 55%;
    margin: 30px 0; }
  .calculator__parameters-line {
    padding: 25px 0; }
  .calculator__option-container {
    justify-content: space-around;
    padding-bottom: 0; }
  .calculator__address-container {
    width: 55%; }
  .calculator__userInfo {
    flex-direction: column;
    align-items: center;
    padding: 0; } }

@media screen and (max-device-width: 650px) {
  html {
    font-size: 45.5%; }
  .calculator__parameter {
    width: 70%; }
  .calculator__header {
    font-size: 2.5em; }
  .calculator__button {
    width: 70%; }
  .calculator__address-container {
    width: 70%; }
  .calculator__userInfo-container {
    width: 70%; }
  .calculator__option-container {
    justify-content: space-around; }
  .calculator__option {
    width: 22em;
    height: 22em; } }

@media screen and (max-device-width: 450px) {
  .calculator__parameter {
    width: 80%; }
  .calculator__button {
    width: 80%; }
  .calculator__address-container {
    width: 80%; }
  .calculator__userInfo-container {
    width: 80%; } }
