.phone-number{
  flex-grow: 20;

  .phone-number__inner-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-number__icon{
    font-size: 3rem;
  }
  .phone-number__text{
    font-size: 2.167rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-left: 0.5rem;
  }
}
