.header{
  width: 100%;
  height: 10rem;
  color: white;
  font-size: 1.6rem;
  display: flex;
  align-items: flex-end;

  .header__inner-container{
    max-width: 1960px;
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
